@charset "UTF-08";

*{
    margin: 0px;
    padding: 0px;
}
html, body {
    width: 100vw;
    height: 100vh;
}

body {
    background-image: url(../imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;

}

main {
    position: relative;
    height: 100vh;
    display: grid;
    

}

section#telefone {
    background-image: url(../imagens/frame-iphone.png);
    background-repeat: no-repeat;
    width: 19.4375em;
    height: 39.1875em;
    margin: auto;
    
}

section#social{
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
   
}

section#social img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    box-sizing: border-box;
    
}

section#social ul{
    list-style-type: none;
}

section#social li {
    display: inline-block;
}



section#social img:hover {
    border: 2px solid rgba(255, 255, 255, 0.541);
    transform: translate(-2px, -2px);
    transition: transform 1s, border 0.4s;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
}




iframe#tela{
    position: relative;
    width: 269px;
    height: 471px;
    top: 80px;
    left: 21px;
}