@charset "UTF-08";

*{
    margin: 0px;
    padding: 0px;
}
html, body {
    width: 100vw;
    height: 100vh;
}

body {
    background-image: url(../imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;

}

main {
    position: relative;
    
    height: 100vh;

}

section#telefone {
    position: absolute;
    background-image: url(../imagens/frame-iphone.png);
    background-repeat: no-repeat;
    width: 311px;
    height: 627px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

iframe#tela{
    position: relative;
    width: 269px;
    height: 471px;
    top: 80px;
    left: 21px;
}